#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
  }
  
.grid-item {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
  }

.title {
    color: #D0D2FF ;
    text-align: center;
    font-size: 65px;
    padding-top: 10px;
    padding-bottom: 10px;

}

body {
  background-color: #FFFDD0 ;
}

.bodycontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}